<!--Tabell för att visa kuresr i en tabell-->

<section>

    <h2>Kurslista</h2>

    <!--Sökfält att kunna söka efter kurser-->
    <!--(input) Lyssanr på tangenttrycke. Hämtar värdet från input. Uppdaterar searchTerm-signal med nytt väde-->
  <label for="filter">Sök på kurs</label>

  <input type="text" id="filter" [value]="searchTerm()"

    (input)="searchTerm.set($any($event.target).value)"/>


    <table>
        <thead>

            <tr>
                <th>Kurskod</th>
                <th>Kursnamn</th>
                <th>Progression</th>
            </tr>
        </thead>

        <tbody>
            <!--Loopar igenom varje kurs.
    course.code fungerar som unikt ID där track använda för att återanvända dessa element  -->
            @for(course of filteredCourses(); track course.code) {
            <tr>
                <!--Hämtar vädrden från API-->
                <td>{{ course.code }}</td>
                <td>{{ course.coursename }}</td>
                <td>{{ course.progression }}</td>
            </tr>
            }
        </tbody>
    </table>

</section>